.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:dimgray;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:floralwhite;
    height: 50px;
    width: 100px;  
    margin: 5px;
    border-radius: 10px;
}
.link{
    text-decoration: none;
    border-radius: 10px;
}